.reactions-component {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;

  .item {
    position: absolute;
    display: none;
    width: 56px;
    left: 3%;
    // transition: transform ease-out 1s, opacity ease-out 1s;
    // transform: translateY(-400px);
    // opacity: 0;
  }

  .example-enter {
    display: block;
    opacity: 1;

    transform: rotate(-100deg) scale(0.1);
    // transform: translateY(-0px);
  }

  .example-enter.example-enter-active {
    display: block;
    opacity: 1;

    transform: translateY(-300px) rotate(0deg) scale(1.3);
    // transform: scale3d(0.3, 0.3, 0.3);
    transition: transform ease 2s, opacity ease 2s;
  }

  .example-exit {
    display: block;
    opacity: 1;
    transform: translateY(-0px);
  }

  .example-exit-active {
    display: block;
    opacity: 0;
    transform: translateY(300px);
    transition: transform ease-out 2s, opacity ease-out 2s;
  }
}
