.EmojiContainerBox {
  .emojis_container_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    padding: 4px;
    border: 1px solid $bluegray-4;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08),
      0px 4px 10px rgba(0, 0, 0, 0.06);
    z-index: 9999;

    .emoji_outer_box {
      display: flex;

      .emoji_inner_box {
        display: flex;
        align-items: center;
        padding: 6px;
        border-radius: 4px;
        cursor: pointer;

        img {
          width: 22px;
          height: 22px;
        }
      }

      .emoji_inner_box:hover {
        background-color: $bluegray-2;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .EmojiContainerBox {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .EmojiContainerBox {
    display: none;
  }
}
