section.class-info {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .class {
    flex: 0 0 auto;
    min-width: 0;

    display: flex;
    align-items: flex-start;

    img {
      flex: 0 0 auto;
      display: block;
      width: 129px;
      height: 72px;
      margin-right: 10px;
    }

    .description {
      flex: 0 0 auto;
      min-width: 0;

      ol.badges {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;

        display: flex;
        li {
          flex: 0 0 auto;
          min-width: 0;
          margin-right: 4px;
          &:last-child {
            margin-right: 0;
          }

          display: block;
          border-radius: 2px;
          padding: 4px;
          font-family: Pretendard;
          font-size: 10px;
          font-weight: 600;
          line-height: 10px;
          letter-spacing: -0.4000000059604645px;
          text-align: center;

          &:nth-child(1) {
            color: #9966ff;
            background-color: #f2ecff;
          }

          &:nth-child(2) {
            color: #ee5453;
            background-color: #fdeaea;
          }
        }
      }

      h2 {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.4000000059604645px;
        color: #212529;
      }

      p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.4000000059604645px;
        color: #adb5bd;
      }
    }
  }

  & > a {
    flex: 0 0 auto;
    min-width: 0;
    display: block;

    padding: 10px 12px;
    background: #f8f9fa;
    border-radius: 2px;

    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.4000000059604645px;
  }
}
