.fiive.page {
  display: flex;
  align-items: flex-start;

  & > aside.utilities {
    flex: 0 0 auto;
    width: 240px;
    border-right: 1px solid #f1f3f5;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  & > main {
    flex: 1 1 auto;
    min-width: 0;
  }

  & > aside.chat {
    flex: 0 0 auto;
    width: 341px;
    border-left: 1px solid #f1f3f5;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

@import "./learner";
@import "./teacher";
@import "./question-monitor";
