.fiive.page {
  display: flex;
  align-items: flex-start;

  & > aside.utilities {
    flex: 0 0 auto;
    width: 240px;
    border-right: 1px solid #f1f3f5;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  & > main {
    flex: 1 1 auto;
    min-width: 0;
    margin-right: 8px;
    border-radius: 8px;
    background-color: white;
  }

  & > aside.chat {
    flex: 0 0 auto;
    width: 341px;
    border-left: 1px solid #f1f3f5;
    // height: 100vh;
    height: calc(100vh - 57px - 106px);
    position: sticky;
    top: 0;
  }
}

@import './learner';
@import './teacher';
@import './question-monitor';

/* sendbird fake chat */
@import './FakeChat.scss';

/* sendbird chat custom css styling */
.sendbird-conversation {
  border: unset !important;
  border-radius: 8px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 4px 10px rgba(0, 0, 0, 0.06);

  /* 새로운 메시지가 왔다고 알려주는 notification 영역 커스텀 */
  .sendbird-notification {
    position: fixed;
    right: -12px;
    bottom: 170px;
    width: 316px;
    padding: 8px 0px;
    @include body-3-700;
    color: $bluegray-1;
    background-color: $fiivepurple-5 !important;
    z-index: 9999;

    .sendbird-icon-color--content {
      position: relative;
      top: -2px;
      width: 16px !important;
      min-width: 16px !important;
      height: 16px !important;
      min-height: 16px !important;
    }
  }

  /* 스크롤을 맨밑으로 내려주는 아래 방향 화살표 버튼 제거 */
  .sendbird-conversation__scroll-bottom-button {
    display: none;
  }

  /* chat UI outline 여백 제거와 스크롤 영역 제거 */
  .sendbird-conversation__messages {
    .sendbird-conversation__messages-padding {
      padding: 0px;
    }

    .sendbird-conversation__messages-padding::-webkit-scrollbar {
      display: none;
    }
  }

  .sendbird-conversation__messages::-webkit-scrollbar {
    display: none;
  }

  /* chat frozen status noti div 제거 */
  .sendbird-notification.sendbird-notification--frozen {
    display: none;
  }
}

/* toast custom css styling */
.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index) px);
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;

  .Toastify__toast {
    display: flex;
    align-items: center;
    width: 316px;
    height: 50px;
    min-height: unset;
    margin-bottom: 12px;
    padding: 8px 12px;
    box-shadow: unset !important;
  }
}

@-webkit-keyframes customFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes customFadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__animated.animate__customFadeInUp {
  -webkit-animation-name: customFadeInUp !important;
  animation-name: customFadeInUp !important;
  --animate-duration: 0.7s;
  --animate-delay: 0.7s;
}

.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);

  .Toastify__toast-theme--colored.Toastify__toast--success {
    height: 50px;
    background: #5fbf7c;
  }

  .Toastify__toast-theme--colored.Toastify__toast--error {
    height: 50px;
    background: $red-5;
  }

  .Toastify__close-button.Toastify__close-button--colored {
    display: none;
  }

  .Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
    display: none;
  }
}

/* 현재 적용중인 toast bottom right 영역 커스텀 */
.Toastify__toast-container--bottom-right {
  bottom: 12rem !important;
  right: 1.5rem !important;
  transform: translateX(-50%);

  /* toast.success 일 때 */
  .toast_success_box {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px;
    border-radius: 2px;
    @include body-2-500;
    background-color: #5fbf7c;

    .toast_success_text {
      position: relative;
      top: 1px;
      margin-left: 6px;
      color: $bluegray-1;
    }
  }

  /* toast.error 일 때 */
  .toast_error_box {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px;
    border-radius: 2px;
    @include body-2-500;
    background-color: $red-5;

    .toast_error_text {
      position: relative;
      top: 1px;
      margin-left: 6px;
      color: $bluegray-1;
    }
  }

  .Toastify__toast-theme--colored.Toastify__toast--success {
    height: 50px;
    background: #5fbf7c;
  }

  .Toastify__toast-theme--colored.Toastify__toast--error {
    height: 50px;
    background: $red-5;
  }

  .Toastify__close-button.Toastify__close-button--colored {
    display: none;
  }

  .Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
    display: none;
  }
}

.Toastify__toast-body {
  margin: 0px !important;
  height: 10px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fiive.page {
    & > main {
      margin-right: unset;
      background-color: $bluegray-2;
    }
  }

  .sendbird-conversation {
    /* 새로운 메시지가 왔다고 알려주는 notification 영역 커스텀 */
    .sendbird-notification {
      left: 0;
      right: 0;
      width: 95%;
      margin: 0 auto;
    }
  }

  .Toastify__toast-container--bottom-right {
    display: none;
  }

  /* 현재 적용중인 toast bottom center 영역 커스텀 */
  .Toastify__toast-container--bottom-center {
    width: 100% !important;
    bottom: 12rem !important;
    padding: 0px 12px !important;
    transform: translateX(-50%);

    .Toastify__toast--close-on-click {
      width: 100% !important;
    }

    .Toastify__toast--close-on-click {
      margin: 0 auto;
    }

    /* toast.success 일 때 */
    .toast_success_box {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0px;
      border-radius: 2px;
      @include body-2-500;
      background-color: #5fbf7c;

      .toast_success_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    /* toast.error 일 때 */
    .toast_error_box {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0px;
      border-radius: 2px;
      @include body-2-500;
      background-color: $red-5;

      .toast_error_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    .Toastify__toast-theme--colored.Toastify__toast--success {
      height: 50px;
      margin-bottom: 12px;
      background: #5fbf7c;
    }

    .Toastify__toast-theme--colored.Toastify__toast--error {
      height: 50px;
      background: $red-5;
    }

    .Toastify__close-button.Toastify__close-button--colored {
      display: none;
    }

    .Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
      display: none;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .fiive.page {
    & > main {
      margin-right: unset;
      background-color: $bluegray-2;
    }
  }

  .sendbird-conversation {
    /* 새로운 메시지가 왔다고 알려주는 notification 영역 커스텀 */
    .sendbird-notification {
      left: 0;
      right: 0;
      width: 95%;
      margin: 0 auto;
    }
  }

  .Toastify__toast-container--bottom-right {
    display: none;
  }

  /* 현재 적용중인 toast bottom center 영역 커스텀 */
  .Toastify__toast-container--bottom-center {
    width: 100% !important;
    bottom: 12rem !important;
    padding: 0px 12px !important;
    transform: translateX(-50%);

    .Toastify__toast--close-on-click {
      width: 100% !important;
    }

    .Toastify__toast--close-on-click {
      margin: 0 auto;
    }

    /* toast.success 일 때 */
    .toast_success_box {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0px;
      border-radius: 2px;
      @include body-2-500;
      background-color: #5fbf7c;

      .toast_success_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    /* toast.error 일 때 */
    .toast_error_box {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0px;
      border-radius: 2px;
      @include body-2-500;
      background-color: $red-5;

      .toast_error_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    .Toastify__toast-theme--colored.Toastify__toast--success {
      height: 50px;
      margin-bottom: 12px;
      background: #5fbf7c;
    }

    .Toastify__toast-theme--colored.Toastify__toast--error {
      height: 50px;
      background: $red-5;
    }

    .Toastify__close-button.Toastify__close-button--colored {
      display: none;
    }

    .Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
      display: none;
    }
  }
}

/* 모바일 사이즈 480px 미만부터는 toast 형태 및 정렬이 이상하게 보여, 480 미만의 브레이크 포인트를 따로 잡음 */
@media screen and (max-width: 480px) {
  .fiive.page {
    & > main {
      margin-right: unset;
      background-color: $bluegray-2;
    }
  }

  .sendbird-conversation {
    /* 새로운 메시지가 왔다고 알려주는 notification 영역 커스텀 */
    .sendbird-notification {
      left: 0;
      right: 0;
      width: 95%;
      margin: 0 auto;
    }
  }

  .Toastify__toast-container--bottom-right {
    display: none;
  }

  /* 현재 적용중인 toast bottom center 영역 커스텀 */
  .Toastify__toast-container--bottom-center {
    width: 100% !important;
    bottom: 12rem !important;
    transform: translateX(-50%);

    .Toastify__toast--close-on-click {
      width: 93% !important;
      border-radius: 4px;
    }

    .Toastify__toast--close-on-click {
      margin: 0 auto;
    }

    /* toast.success 일 때 */
    .toast_success_box {
      display: flex;
      align-items: center;
      width: 200px !important;
      height: 50px;
      padding: 0px;
      border-radius: 4px;
      @include body-2-500;
      background-color: #5fbf7c;

      .toast_success_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    /* toast.error 일 때 */
    .toast_error_box {
      display: flex;
      align-items: center;
      width: 200px !important;
      height: 50px;
      padding: 0px;
      border-radius: 4px;
      @include body-2-500;
      background-color: $red-5;

      .toast_error_text {
        position: relative;
        top: 1px;
        margin-left: 6px;
        color: $bluegray-1;
      }
    }

    .Toastify__toast-theme--colored.Toastify__toast--success {
      height: 50px;
      margin-bottom: 12px;
      background: #5fbf7c;
    }

    .Toastify__toast-theme--colored.Toastify__toast--error {
      height: 50px;
      background: $red-5;
    }

    .Toastify__close-button.Toastify__close-button--colored {
      display: none;
    }

    .Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
      display: none;
    }
  }
}
