.fiive.teacher.page {
  padding: 12px;
  background-color: $bluegray-2;

  aside.utilities {
    display: flex;
    flex-direction: column;

    section.tools {
      flex: 1 1 auto;
      min-height: 0;
      display: flex;
    }
  }

  main {
    .video-wrapper {
      position: relative;
      overflow: hidden;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      video {
        display: block;
        width: 100%;
        min-height: 500px;
      }

      .messages {
        display: none;
      }

      /* live 시작 전, 재생 에러, live 종료일 때 띄우는 준비 화면 컴포넌트 css */
      @import '../../../components/VideoComponents/LiveStatusVideoScreen.scss';
    }

    .class-wrapper {
      margin: 24px;

      .class_infomation_wrapper {
        margin-bottom: 24px;

        .class_title_box {
          @include head-2;
          margin-bottom: 8px;
          color: $bluegray-10;
        }

        .class_description_box {
          @include body-2-400;
          color: $bluegray-6;
        }
      }

      .class_notification_wrapper {
        padding: 16px;
        border-radius: 2px;
        background-color: $bluegray-1;

        .nonotification_title_box {
          display: flex;
          align-items: flex-start;

          .class_title {
            margin-left: 6px;
            margin-bottom: 8px;
            @include body-2-700;
            color: $bluegray-10;
          }
        }

        .notification_description_box {
          margin-bottom: 12px;
          @include body-2-400;
          color: $bluegray-8;
        }

        .community_guide_button {
          padding: 10px 12px;
          @include btn-sm-500;
          border-radius: 2px;
          border: 1px solid $bluegray-3;
          color: $bluegray-9;
          background-color: white;
        }
      }
    }
  }

  aside.chat {
    display: flex;
    flex-direction: column;

    .chatroom {
      flex: 1 1 auto;
      min-height: 0;
    }
  }

  /* chat aside bar를 접었을 때 상태 표현 */
  aside.chat.close {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fiive.teacher.page {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin-bottom: unset !important;

    main {
      width: 100%;

      .video-wrapper {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        video {
          min-height: unset;
        }
      }

      .class-wrapper {
        margin: 12px;
        padding: 16px;
        border-radius: 8px;
        background-color: white;
      }

      .session-info,
      .class-info {
        display: none !important;
      }
    }

    .chat {
      width: 100%;
      z-index: 9999;
    }
  }
}

@media screen and (max-width: 767px) {
  .fiive.teacher.page {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin-bottom: unset !important;

    main {
      width: 100%;

      .video-wrapper {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        video {
          min-height: unset;
        }
      }

      .class-wrapper {
        margin: 12px;
        padding: 16px;
        border-radius: 8px;
        background-color: white;
      }

      .session-info,
      .class-info {
        display: none !important;
      }
    }

    .chat {
      width: 100%;
      z-index: 9999;
    }
  }
}
