.CustomTeacherPopupChat {
  width: 480px;

  .popup_chat_wrapper {
    background-color: transparent;

    .message_box {
      display: flex;
      @include head-2;
      font-size: 18px;
      text-shadow: -2px 0 #181c1f, 0 2px #181c1f, 2px 0 #181c1f, 0 -2px #181c1f;

      .teacher {
        color: $fiivepurple-3;
      }

      .learner {
        color: $bluegray-6;
      }

      .user_text_box {
        margin-left: 6px;
        color: white;
      }
    }
  }
}
