.ChatRoom {
  margin-bottom: 16px;

  .Message_text {
    display: flex;
    flex-direction: column;

    .user_infomation_box {
      display: flex;
      align-items: center;

      .user_profile_image_box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;

        .defaultProfileImage {
          border: 1px solid $bluegray-2 !important;
          border-radius: 50px;
        }
      }

      .user_nickname_box {
        margin-right: 6px;
        @include body-2-700;
        color: $bluegray-6;
      }

      .user_nickname_box.teacher {
        color: $fiivepurple-5;
      }

      .massage_date_time {
        @include caption-1-400;
        color: $bluegray-6;
      }
    }

    .text_message_box {
      margin-left: 32px;
      @include body-2-400;
      color: $bluegray-9;
    }
  }
}
