@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/variable/pretendardvariable.css');
body {
  font-face: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import './styleguideline';
@import './bootstrap/index';
@import './layouts/index';
@import './pages/index';
@import './components/index';

/* obs 이용시 새창열기 팝업 chat */
@import '../components/Sendbird/CustomTeacherPopupChat';

.chat-monitor {
  .sendbird-conversation {
    overflow: auto;
    background-color: transparent !important;
  }

  .sendbird-notification {
    display: none;
  }
}
